[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
importlib-metadata = "*"
flask = "*"
python-dotenv = "*"
flask-login = "*"
flask-babel = "*"
passlib = "*"
flask-mongoengine = "*"
python-dateutil = "*"
pyisemail = "*"
email-validator = "*"
currencyconverter = "*"
pre-commit = "*"
sentry-sdk = {extras = ["pymongo"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
