<!doctype html>
<html lang="{{get_locale()}}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - {{config['BRAND']}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='src/main.css') }}">
    <script src="https://kit.fontawesome.com/d610c02987.js" crossorigin="anonymous"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/app.js') }}"></script>
  </head>
  <body>
    <header class="header-section relative z-50">
        <div class="container px-4">
            <nav id="main-navigation">
                <li class="nav-item">
                    <div class="dropdown">
                        <div class="dropdown-menu" aria-labelledby="languageDropdown">
                          {% for _, lang in locales.items() %}
                            <a class="dropdown-item {% if lang|lower == get_locale()|lower %}active{% endif %}" href="{{ url_for(request.endpoint, **dict(request.view_args, locale=lang)) }}">{{lang.display_name}}</a>
                          {% endfor %}
                        </div>
                      </div>
                  </li>        
                <a href="{{ url_for('items.index') }}">
                    <img src="{{ url_for('static', filename='images/logoipsum-221.svg') }}">
                </a>
                <ul>
                    <li>
                    <a href="{{ url_for('items.index') }}">{{ _("Home") }}</a>
                    </li>
                    {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('auth.profile', email='me') }}">{{ current_user['email'] }}</a></li>
                        <li><a href="{{ url_for('items.sell') }}">{{ _("Sell") }}</a></li>
                        <li><a class="text-red" href="{{ url_for('auth.logout') }}">{{ _("Log Out") }}</a>
                    {% else %}
                        <li><a href="{{ url_for('auth.login') }}">{{ _("Sell") }}</a></li>
                        <li><a href="{{ url_for('auth.login') }}">{{ _("Log In") }}</a>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <main class="relative z-10">
        <div class="container content z-20 px-4">
            {% if current_user.is_authenticated %}
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% for category, message in messages %}
                        <div class="flash flash-{{ category }}"><span>{{ message }}</span></div>
                    {% endfor %}
                {% endwith %}
            {% endif %}

            <header>
            {% block header %}
                <h1>{{config['BRAND']}}</h1>
            {% endblock %}
            </header>

            {% if not current_user.is_authenticated %}
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% for category, message in messages %}
                        <div class="flash flash-{{ category }}"><span>{{ message }}</span></div>
                    {% endfor %}
                {% endwith %}
            {% endif %}
            
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <footer>
        <div class="container px-4">
            {% block footer %}
                <p class="text-base">Footer</p>
            {% endblock %}
        </div>

    </footer>
  </body>
</html>