<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - {{config['BRAND']}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <header class="header-section">
        <div class="container">
            <nav class="navbar" id="main-navigation">
                <a class="navbar-brand" href="{{ url_for('views.index') }}">
                    <img src="{{ url_for('static', filename='images/logoipsum-221.svg') }}">
                </a>
                <ul class="nav">
                    <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('views.index') }}">Home</a>
                    </li>
                    {% if current_user.is_authenticated %}
                        <li class="nav-item"><span>{{ current_user['email'] }}</span></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">Log Out</a>
                    {% else %}
                        <li class="nav-item"><a  class="nav-link"href="{{ url_for('auth.register') }}">Register</a>
                        <li class="nav-item"><a  class="nav-link"href="{{ url_for('auth.login') }}">Log In</a>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="container content">
            {% if current_user.is_authenticated %}
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% for category, message in messages %}
                        <div class="flash flash-{{ category }}"><span>{{ message }}</span></div>
                    {% endfor %}
                {% endwith %}
            {% endif %}

            <header>
            {% block header %}
                <h1>{{config['BRAND']}}</h1>
            {% endblock %}
            </header>

            {% if not current_user.is_authenticated %}
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% for category, message in messages %}
                        <div class="flash flash-{{ category }}"><span>{{ message }}</span></div>
                    {% endfor %}
                {% endwith %}
            {% endif %}
            
            {% block content %}
                <p>Get started by logging in or registering.</p>
                <figure>
                    <img src="{{ url_for('static', filename='images/front-small.png') }}"/>
                </figure>
            {% endblock %}
        </div>
    </main>

    <footer>
        <div class="container">
            {% block footer %}
                <p>Footer</p>
            {% endblock %}
        </div>

    </footer>
  </body>
</html>