<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - Good on paper</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <header class="header-section">
        <div class="container">
            <nav class="navbar" id="main-navigation">
                <a class="navbar-brand" href="{{ url_for('views.index') }}">
                    <img src="{{ url_for('static', filename='images/logoipsum-221.svg') }}">
                </a>
                <ul class="nav">
                    <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('views.index') }}">Home</a>
                    </li>
                    {% if g.user %}
                        <li class="nav-item"><span>{{ g.user['email'] }}</span>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">Log Out</a>
                    {% else %}
                        <li class="nav-item"><a  class="nav-link"href="{{ url_for('auth.register') }}">Register</a>
                        <li class="nav-item"><a  class="nav-link"href="{{ url_for('auth.login') }}">Log In</a>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="container content">
            <header>
            {% block header %}
                <h1>Good on paper - Bidding site</h1>
            {% endblock %}
            </header>
            {% for message in get_flashed_messages() %}
            <div class="flash flash-error"><span>{{ message }}</span></div>
            {% endfor %}
            {% block content %}
                <p>Start by registering or login in.</p>
                <figure>
                    <img src="{{ url_for('static', filename='images/front-small.png') }}"/>
                </figure>
            {% endblock %}
        </div>
    </main>

    <footer>
        <div class="container">
            {% block footer %}
                <p>Footer</p>
            {% endblock %}
        </div>

    </footer>
  </body>
</html>