#register, #login {
    width: fit-content;
    justify-self: center;
    max-width: 300px;
}

#sell-items, #edit-items {
    width: 100%;
    justify-self: center;
    max-width: 500px;
}

form {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
}

form > label + input {
    margin-bottom: 1em;
}

label {
    font-weight: 600;
    font-size: 14px;
}

input  {
    padding: 6px 10px 6px 10px;
    border-radius: 30px;
    border-width: 1px;
    margin-top: 4px;
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;
}

.terms, .remember {
    margin-bottom: 1.5em;
}

input[type="checkbox"] {
    margin-right: 1em;
}

input[type="checkbox"]:checked {
    accent-color: #16271F;
}

#sell-item-form {
    margin: 10px;
}

textarea {
    resize: none;
    border-radius: 15px;
    margin-top: 4px;
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 1em;
    padding: 6px 10px 6px 10px;
}