{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}{{ _("Sell an Item") }}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <h3 class="text-center mb-4">{{ _("Fill in the details") }}</h3>
    <div id="sell-items">
        <form method="post" action="{{ url_for('items.sell') }}">
            <label for="title">{{ _("Title") }}</label>
            <input type="text" name="title" id="title" class="form-control" value="{{ request.form['title'] }}" required minlength="3" maxlength="50">
            <label for="description">{{ _("Description") }}</label>
            <textarea name="description" class="form-control" rows="5" required minlength="3" maxlength="1000">{{ request.form['body'] }}</textarea>
            <label for="starting_bid">{{ _("Starting Bid") }}</label>
            <input type="number" name="starting_bid" id="starting_bid" min="0" class="form-control" required>
            <button class="btn btn-primary">{{ _("Add to listing") }}</button>
        </form>
    </div>
{% endblock %}