{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div id="login">
    <p>Don't have an account? Register in <a href="{{ url_for('auth.register') }}">here</a>.</p>
    <form method="post">
      <label for="email">Email</label>
      <input name="email" id="email" required>
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required>
      <label class="remember"><input name="remember-me" class="form-check-input" type="checkbox">Remember me</label>
      <input type="submit" value="Log In" class="btn btn-primary">
    </form>
  </div>
{% endblock %}