{% extends 'base.html' %}

{% block header %}
    <div class="container">
        <h1>{% block title %}{{user.email}}'s' Profile Page{% endblock %}</h1>
    </div>
{% endblock %}

{% block content %}

<div id="user-details">
    <div class="flex-column">
        <span>{{ user.email }}</span>
        <label for="default" class="mr-3">Email:</label>
        <input id="default" type="text" value="{{ user.email }}">
    </div>
    <div class="flex-column buttons">
        {% if current_user == user %}
        <a href="{{ url_for('items.sell') }}" class="btn btn-primary">Sell an Item</a>
        <a href="{{ url_for('auth.logout') }}" class="btn btn-danger">Logout</a>
        {% endif %}
    </div>
</div>

<div class="auction-section">
    <h3>Recent Auctions</h3>
    <div class="">
        {% for auction in items %}
        <div class="">
            <img src="..." class="" alt="...">
            <div class="">
                <h5 class="">{{ auction.title }}</h5>
                <p class="">{{ auction.description }}</p>
                <p class="">Starting Bid: ${{ auction.starting_bid }}</p>
            </div>
            <div class="card-footer">
                {% if auction.is_open %}
                {% if current_user == auction.seller %}
                <a href="{{ url_for('items.update', id=auction.id) }}" class="btn btn-primary">Update</a>
                {% else %}
                <a href="{{ url_for('items.bid', id=auction.id) }}" class="btn btn-primary">Place a bid</a>
                {% endif %}
                {% else %}
                <div class="">Auction is Closed</div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
